@charset "UTF-8";
/* リキッドレイアウト対応 */
body {
  font-family: "source-han-sans-japanese", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.2307692308vw;
  }
}
@media (min-width: 1300px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-inner {
  max-width: 600px;
  max-width: 37.5rem;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1400px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

.test {
  font-size: 20px;
  font-size: 1.25rem;
  background-color: #111;
  color: #fff;
}

.p-about {
  padding-top: 100px;
  padding-top: 6.25rem;
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
  position: relative;
  overflow-x: clip;
}

.p-about::before {
  position: absolute;
  content: "";
  background: url(../images/common/about_bg_left.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 360px;
  width: 22.5rem;
  height: auto;
  aspect-ratio: 360/360;
  -o-object-fit: cover;
     object-fit: cover;
  top: -56px;
  top: -3.5rem;
  left: -56px;
  left: -3.5rem;
}

.p-about__title {
  text-align: center;
}

.p-about__text-wrapper {
  margin-top: 48px;
  margin-top: 3rem;
  text-align: center;
}

.p-about__text {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.25;
  color: #333;
}

.p-feature {
  padding-bottom: 120px;
  padding-bottom: 7.5rem;
}

.p-feature__title {
  text-align: center;
}

.p-feature__grid {
  display: grid;
  margin-top: 84px;
  margin-top: 5.25rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 44px;
  gap: 2.75rem;
}

.p-feature__grid-list {
  height: 100%;
  position: relative;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="10" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,0.1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, .1));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, .1));
}

.p-feature__grid-list::before {
  position: absolute;
  content: attr(data-number) "";
  background: #990000;
  border-radius: 9999px;
  color: #fff;
  font-family: "source-han-serif-japanese", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  font-size: 1.375rem;
  text-align: center;
  width: 50px;
  width: 3.125rem;
  height: 50px;
  height: 3.125rem;
  top: -24px;
  top: -1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.p-feature__img img {
  aspect-ratio: 370/250;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

.p-feature__detail {
  background: #990000;
  padding: 24px;
  padding: 1.5rem;
  max-height: 310px;
  max-height: 19.375rem;
  height: 100%;
}

.p-feature__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  gap: 0.5rem;
}

.p-feature__text-wrapper + .p-feature__text-wrapper {
  margin-top: 14px;
  margin-top: 0.875rem;
}

.p-feature__text-wrapper svg {
  max-width: 24px;
  max-width: 1.5rem;
  min-width: 24px;
  min-width: 1.5rem;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  margin-top: 4px;
  margin-top: 0.25rem;
}

.p-feature__text-title {
  text-align: center;
  color: #fff;
  font-family: "source-han-serif-japanese", serif;
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 1.44;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

.p-feature__text {
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
}

.p-feature__flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px;
  gap: 2.75rem;
  margin-top: 84px;
  margin-top: 5.25rem;
  max-width: 786px;
  max-width: 49.125rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p-feature__detail--white .p-feature__detail {
  background: #fff;
}

.p-feature__detail--white .p-feature__text-title {
  color: #333;
}

.p-feature__detail--white .p-feature__text {
  color: #333;
}

.p-mv {
  overflow-x: clip;
}

.p-mv__content {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
}

.p-mv img {
  aspect-ratio: 2000/1200;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

.p-plan {
  background: #f9f0f0;
  padding-top: 100px;
  padding-top: 6.25rem;
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
}

.p-plan__title {
  text-align: center;
}

.p-plan__anchor {
  margin-top: 64px;
  margin-top: 4rem;
  max-width: 786px;
  max-width: 49.125rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px;
  gap: 2.75rem;
}

.p-plan__anchor-link {
  display: block;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="10" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,0.1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, .1));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, .1));
  position: relative;
}

.p-plan__anchor-link::before {
  position: absolute;
  content: "";
  background: #990000;
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  top: 10%;
  left: 25%;
}

.p-plan__anchor-img img {
  aspect-ratio: 370/250;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

.p-plan__anchor-detail {
  background: #fff;
  padding: 27px;
  padding: 1.6875rem;
}

.p-plan__anchor-title {
  color: #841717;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  font-size: 1.5625rem;
  font-family: "source-han-serif-japanese", serif;
}

.p-plan__anchor-price {
  color: #333;
  font-size: 30px;
  font-size: 1.875rem;
  font-family: "source-han-serif-japanese", serif;
  font-weight: 600;
  text-align: center;
  margin-top: 16px;
  margin-top: 1rem;
}

.p-plan__anchor-price-unit {
  font-size: 20px;
  font-size: 1.25rem;
}

.p-plan__anchor-price-tax {
  font-size: 12px;
  font-size: 0.75rem;
}

.p-plan__anchor-text {
  margin-top: 20px;
  margin-top: 1.25rem;
  font-size: 16px;
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.p-plan__block-wrapper {
  margin-top: 112px;
  margin-top: 7rem;
}

.p-plan__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  gap: 3rem;
}

.p-plan__block + .p-plan__block {
  margin-top: 120px;
  margin-top: 7.5rem;
}

.p-plan__img {
  max-width: 600px;
  max-width: 37.5rem;
  width: 100%;
}

.p-plan__img img {
  aspect-ratio: 600/400;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

.p-plan__detail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.p-plan__detail-title {
  color: #841717;
  font-size: 35px;
  font-size: 2.1875rem;
  font-weight: 600;
  font-family: "source-han-serif-japanese", serif;
}

.p-plan__price {
  font-size: 40px;
  font-size: 2.5rem;
  font-family: "source-han-serif-japanese", serif;
  font-weight: 600;
  color: #333;
  margin-top: 24px;
  margin-top: 1.5rem;
}

.p-plan__price-unit {
  font-size: 25px;
  font-size: 1.5625rem;
}

.p-plan__price-tax {
  font-size: 14px;
  font-size: 0.875rem;
}

.p-plan__number {
  margin-top: 24px;
  margin-top: 1.5rem;
  font-size: 16px;
  font-size: 1rem;
  color: #333;
  font-weight: 400;
}

.p-plan__text {
  color: #990000;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.8;
  margin-top: 21px;
  margin-top: 1.3125rem;
}

.p-plan__flow {
  margin-top: 44px;
  margin-top: 2.75rem;
}

.p-plan__flow img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.p-plan__flow--1 {
  max-width: 300px;
  max-width: 18.75rem;
  width: 100%;
}

.p-plan__flow--2 {
  max-width: 420px;
  max-width: 26.25rem;
  width: 100%;
}

.p-plan__kind-wrapper {
  margin-top: 64px;
  margin-top: 4rem;
}

.p-plan__kind + .p-plan__kind {
  margin-top: 64px;
  margin-top: 4rem;
}

.p-plan__kind-text {
  font-size: 25px;
  font-size: 1.5625rem;
  color: #333;
  font-weight: 600;
  font-family: "source-han-serif-japanese", serif;
}

.p-plan__lists {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 14px;
  gap: 0.875rem;
  margin-top: 24px;
  margin-top: 1.5rem;
}

.p-plan__list-img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.p-plan__attention {
  font-size: 14px;
  font-size: 0.875rem;
  color: #333;
  margin-top: 24px;
  margin-top: 1.5rem;
}

.c-section-title--small {
  color: #990000;
  font-size: 16px;
  font-size: 1rem;
  font-family: "source-han-serif-japanese", serif;
  font-weight: 600;
  display: inline-block;
  padding-top: 8px;
  padding-top: 0.5rem;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
  padding-left: 8px;
  padding-left: 0.5rem;
  padding-right: 8px;
  padding-right: 0.5rem;
  position: relative;
}

.c-section-title--small::before {
  position: absolute;
  content: "";
  background: #990000;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
}

.c-section-title--small::after {
  position: absolute;
  content: "";
  background: #990000;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

.c-section-title {
  color: #333;
  font-family: "source-han-serif-japanese", serif;
  font-weight: 600;
  font-size: 35px;
  font-size: 2.1875rem;
  margin-top: 52px;
  margin-top: 3.25rem;
}

.c-section-title--red {
  color: #990000;
}
/*# sourceMappingURL=styles.css.map */
