@use "global" as *;

.c-section-title--small {
  color: #990000;
  font-size: rem(16);
  font-family: $second-font-family;
  font-weight: 600;
  display: inline-block;
  padding-top: rem(8);
  padding-bottom: rem(8);
  padding-left: rem(8);
  padding-right: rem(8);
  position: relative;
}

.c-section-title--small::before {
  position: absolute;
  content: "";
  background: #990000;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
}
.c-section-title--small::after {
  position: absolute;
  content: "";
  background: #990000;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}
.c-section-title {
  color: #333;
  font-family: $second-font-family;
  font-weight: 600;
  margin-top: rem(40);
  font-size: rem(22);
  @include mq(md) {
    font-size: rem(35);
    margin-top: rem(52);
  }
}
.c-section-title--red {
  color: #990000;
}
.p-plan .c-section-title,
.p-other .c-section-title {
  font-size: rem(22);
  @include mq(md) {
    font-size: rem(30);
  }
}
.c-section-title--big {
  font-size: rem(35);
  color: #990000;
  @include mq(md) {
    font-size: rem(35);
  }
}