@use "global" as *;

.p-about {
  position: relative;
  overflow-x: clip;
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}

.p-about::before {
  position: absolute;
  content: "";
  background: url(../images/common/about_bg_left.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(180);
  height: auto;
  aspect-ratio: 360 / 360;
  object-fit: cover;
  top: rem(-64);
  left: rem(-88);
  @include mq(md) {
    top: rem(-40);
    left: rem(-44);
    width: rem(360);
  }
}

.p-about__content {
}

.p-about__title {
  text-align: center;
}

.p-about__text-wrapper {
  margin-top: rem(32);
  @include mq(md) {
    text-align: center;
    margin-top: rem(48);
  }
}

.p-about__text {
  font-weight: 400;
  color: #333;
  line-height: 2;
  font-size: rem(15);
  @include mq(md) {
    line-height: calc(36 / 16);
    font-size: rem(16);
  }
}
