@use "global" as *;

.p-drawer-icon {
  background: transparent;
  transition: 0.3s;
  border-radius: 9999px;
  width: rem(44);
  height: rem(44);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: rem(20);
  top: rem(20);
  z-index: 9999;
  @include mq(md) {
    display: none;
  }
}
.p-drawer-icon.is-active {
  position: relative;
  z-index: 10001;
  background: transparent;
  .p-drawer-icon__bars {
    width: rem(15);
    height: rem(15);
  }
  .p-drawer-icon__bar1 {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .p-drawer-icon__bar2 {
    display: none;
  }
  .p-drawer-icon__bar3 {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
.p-drawer-icon__bars {
  position: relative;
  width: rem(28);
  height: rem(28);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: rem(6);
}
.p-drawer-icon__bar1 {
  height: 1px;
  background: #fff;
  transition: 0.5s;
  width: rem(20);
  display: flex;
  @include mq(md) {
    width: rem(28);
  }
}
.p-drawer-icon__bar2 {
  height: 1px;
  background: #fff;
  transition: 0.5s;
  width: rem(20);
  display: flex;
  @include mq(md) {
    width: rem(28);
  }
}

.p-drawer-icon__bar3 {
  height: 1px;
  background: #fff;
  transition: 0.5s;
  display: flex;
  width: rem(20);
  @include mq(md) {
    width: rem(28);
  }
}

.p-drawer-content {
  width: rem(230);
  height: 100dvh;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba($color: #000, $alpha: 0.9);
  z-index: 9998;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  padding-top: rem(70);
  padding-left: rem(30);
  padding-right: rem(32);
  overflow-y: auto;
}
.p-drawer-content.is-active {
  visibility: visible;
  opacity: 1;
}
.p-drawer-content__items {
  transition: 0.3s;
  height: 100dvh;
  @include mq(md) {
    max-width: rem(992);
    width: 100%;
    padding-top: rem(64);
    margin-left: auto;
    margin-right: auto;
    padding-left: rem(25);
    padding-right: rem(25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.p-drawer-content__lists {
}
.p-drawer-content__list + .p-drawer-content__list {
  margin-top: rem(28);
}
.p-drawer-content__link {
  font-size: rem(18);
  display: block;
  font-weight: 500;
  color: #fff;
  font-family: $second-font-family;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}
