@use "global" as *;

.p-footer {
  background: url(../images/common/footer_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: rem(48);
  padding-bottom: rem(48);
  @include mq(md) {
    padding-top: rem(72);
    padding-bottom: rem(72);
  }
}

.p-footer__content {
  display: flex;
  flex-direction: column-reverse;
  @include mq(md) {
    flex-direction: row;
  }
}

.p-footer__left {
  width: 100%;
  margin-top: rem(60);
  @include mq(md) {
    margin-top: initial;
    max-width: rem(275);
  }
}

.p-footer__logo {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: rem(150);
  @include mq(md) {
    max-width: rem(224);
  }
}

.p-footer__home {
  display: inline-block;
}
.p-footer__home img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-footer__text-wrapper {
  margin-top: rem(32);
  @include mq(md) {
    text-align: center;
  }
}

.p-footer__text {
  color: #fff;
  letter-spacing: 0.05em;
  line-height: 1.8;
  font-weight: 400;
  font-size: rem(15);
  text-align: left;
  @include mq(md) {
    text-align: center;
    font-size: rem(16);
  }
}

.p-footer__lists {
  margin-top: rem(32);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(16);
}

.p-footer__list {
}

.p-footer__link {
  display: block;
  width: rem(24);
  height: rem(24);
}
.p-footer__link svg {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-footer__right {
  @include mq(md) {
    margin-left: rem(108);
    border-left: 1px solid #fff;
    flex: 1;
    padding-left: rem(90);
  }
}

.p-footer__right-top {
  text-align: center;
}

.p-footer__title {
  color: #fff;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: $second-font-family;
  font-size: rem(22);
  margin-bottom: rem(28);
  @include mq(md) {
    margin-bottom: rem(40);
    font-size: rem(30);
  }
}

.p-footer__row {
  margin-top: rem(36);
  @include mq(md) {
    margin-top: rem(48);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(64);
  }
}

.p-footer__tel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(8);
}

.p-footer__tel-logo {
  width: rem(35);
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-footer__tel-logo svg path {
  fill: #fff;
}

.p-footer__tel-num {
}
.p-footer__vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-footer__tel {
  color: #fff;
  font-weight: 600;
  font-family: $second-font-family;
  font-size: rem(35);
  @include mq(md) {
    font-size: rem(40);
  }
}

.p-footer__tel-text {
  color: #fff;
  font-size: rem(14);
  font-weight: 400;
}

.p-footer__btn-wrapper {
  margin-top: rem(28);
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    display: initial;
    margin-top: initial;
  }
}

.p-footer__btn {
  background: #990000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(20);
  font-weight: 600;
  font-family: $second-font-family;
  border-radius: 9999px;
  width: rem(300);
  height: rem(70);
  @include mq(md) {
    width: rem(350);
  }
}
.p-footer__small {
  text-align: center;
  margin-top: rem(45);
  @include mq(md) {
    margin-top: rem(72);
  }
}
.p-footer__small small {
  color: #fff;
  font-size: rem(14);
  font-weight: 400;
  letter-spacing: 0.05em;
}
