@use "global" as *;

.p-flow {
  position: relative;
  overflow: clip;
  padding-top: rem(56);
  padding-bottom: rem(56);
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(120);
  }
}
.p-flow::before {
  position: absolute;
  content: "";
  background: url(../images/common/flow_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(360);
  height: auto;
  aspect-ratio: 360 / 357;
  object-fit: cover;
  top: rem(-40);
  right: rem(-40);
}

.p-flow__content {
  max-width: rem(1000);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}
.p-flow__content::before {
  position: absolute;
  content: "";
  background: url(../images/common/flow_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(360);
  height: auto;
  aspect-ratio: 360 / 357;
  object-fit: cover;
  top: rem(660);
  left: rem(-330);
  z-index: 1;
}
.p-flow__content::after {
  position: absolute;
  content: "";
  background: url(../images/common/flow_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(360);
  height: auto;
  aspect-ratio: 360 / 357;
  object-fit: cover;
  top: rem(1400);
  right: rem(-240);
  z-index: 1;
}
.p-flow__title {
  text-align: center;
}

.p-flow__text-wrapper {
  margin-top: rem(36);
  @include mq(md) {
    margin-top: rem(48);
    text-align: center;
  }
}

.p-flow__text {
  color: #333;
  font-weight: 400;
  font-size: rem(15);
  line-height: 1.8;
  @include mq(md) {
    font-size: rem(16);
  }
}

.p-flow__block {
  display: flex;
  margin-top: rem(40);
  gap: rem(20);
  @include mq(md) {
    gap: rem(28);
    margin-top: rem(56);
  }
}

.p-flow__line {
  width: rem(20);
}
.p-flow__line img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-flow__right {
  flex: 1;
}

.p-flow__row {
  @include mq(md) {
    display: flex;
    gap: rem(32);
  }
}
.p-flow__row + .p-flow__row {
  margin-top: rem(40);
}
.p-flow__img {
  width: 100%;
  @include mq(md) {
    max-width: rem(300);
  }
}
.p-flow__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-flow__detail {
  flex: 1;
  margin-top: rem(20);
  @include mq(md) {
    margin-top: initial;
  }
}

.p-flow__detail-top {
  display: flex;
  align-items: center;
  gap: rem(16);
  padding-bottom: rem(16);
  border-bottom: 1px solid #b5b5b5;
}

.p-flow__num {
  color: #990000;
  font-weight: 600;
  font-family: $second-font-family;
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(25);
  }
}

.p-flow__detail-title {
  color: #333;
  font-weight: 600;
  font-family: $second-font-family;
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(25);
  }
}

.p-flow__detail-textWrapper {
  padding-top: rem(16);
}

.p-flow__detail-text {
  color: #333;
  font-weight: 400;
  font-size: rem(15);
  line-height: 1.8;
  @include mq(md){
    font-size: rem(16);
    
  }
}

.p-flow__tel-wrapper {
  margin-top: rem(24);
  display: flex;
  align-items: center;
  gap: rem(8);
}
.p-flow__tel-wrapper svg {
  max-width: rem(20);
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-flow__tel {
  color: #990000;
  font-size: rem(25);
  font-weight: 600;
  font-family: $second-font-family;
}
