@use "global" as *;

.p-feature {
  padding-bottom: rem(120);
  position: relative;
  overflow-x: clip;
}
.p-feature::before {
  position: absolute;
  content: "";
  background: url(../images/common/about_bg_left.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(360);
  height: auto;
  aspect-ratio: 360 / 360;
  object-fit: cover;
  top: rem(-48);
  right: rem(-40);
  z-index: -1;
}
.p-feature::after {
  position: absolute;
  content: "";
  background: url(../images/common/about_bg_left.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(360);
  height: auto;
  aspect-ratio: 360 / 360;
  object-fit: cover;
  bottom: rem(100);
  left: rem(-44);
  z-index: -1;
}

.p-feature__content {
}

.p-feature__title {
  text-align: center;
}

.p-feature__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(54);
  margin-top: rem(64);
  @include mq(md) {
    gap: rem(44);
    margin-top: rem(84);
    grid-template-columns: repeat(3, 1fr);
  }
}

.p-feature__grid-list {
  height: 100%;
  position: relative;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
}
.p-feature__grid-list::before {
  position: absolute;
  content: attr(data-number) "";
  background: #990000;
  border-radius: 9999px;
  color: #fff;
  font-family: $second-font-family;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(22);
  text-align: center;
  width: rem(50);
  height: rem(50);
  top: rem(-24);
  left: 50%;
  transform: translateX(-50%);
}

.p-feature__img {
}
.p-feature__img img {
  aspect-ratio: 370 / 250;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-feature__detail {
  background: #990000;
  padding: rem(24);
  @include mq(md) {
    max-height: rem(310);
    height: 100%;
  }
}

.p-feature__text-wrapper {
  display: flex;
  gap: rem(4);
  @include mq(md) {
    gap: rem(8);
  }
}
.p-feature__text-wrapper + .p-feature__text-wrapper {
  margin-top: rem(14);
}
.p-feature__text-wrapper svg {
  max-width: rem(24);
  min-width: rem(24);
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
  margin-top: rem(4);
}
.p-feature__text-title {
  text-align: center;
  color: #fff;
  font-family: $second-font-family;
  font-weight: 600;
  line-height: calc(36 / 25);
  margin-bottom: rem(24);
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(25);
  }
}

.p-feature__text {
  font-size: rem(15);
  color: #fff;
  font-weight: 400;
  line-height: 1.8;
  @include mq(md) {
    font-size: rem(16);
  }
}

.p-feature__flex {
  display: grid;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(54);
  margin-top: rem(54);
  @include mq(md) {
    gap: rem(44);
    margin-top: rem(84);
    grid-template-columns: repeat(2, 1fr);
    max-width: rem(786);
  }
}
.p-feature__detail--white .p-feature__detail {
  background: #fff;
}
.p-feature__detail--white .p-feature__text-title {
  color: #333;
}
.p-feature__detail--white .p-feature__text {
  color: #333;
}
