@use "global" as *;

.p-header {
  position: relative;
}

.p-header__logo-wrapper {
  position: absolute;
  top: 0;
  left: rme(50);
  z-index: 9999;
}

.p-header__logo {
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.3))
    drop-shadow(0 0 16px rgba(0, 0, 0, 0.18))
    drop-shadow(0 0 30px rgba(0, 0, 0, 0.1));
  display: inline-block;
  width: rem(100);
  @include mq(md) {
    width: min(rem(200), calc(200 / 1440) * 100vw);
  }
}
.p-header__logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-header__menu {
  @include mq(md) {
    text-align: center;
    top: rem(20);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
}
.p-header__tel-wrapper {
  position: absolute;
  z-index: 9996;
  top: rem(32);
  right: rem(80);
  @include mq(md) {
    right: rem(150);
  }
}

.p-header__tel-text {
  display: none;
  @include mq(md) {
    display: block;
    color: #fff;
    font-size: rem(14);
    font-weight: 400;
    transition: 0.3s ease-in-out;
  }
}
.p-header__tel-text.is-scrolled {
  color: #333;
}
.p-header__tel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(4);
  margin-top: rem(-8);
}
.p-header__tel-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(26);
  @include mq(md) {
    pointer-events: none;
  }
}
.p-header__tel-logo svg {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-header__tel-logo svg path {
  fill: #fff;
  transition: 0.3s ease-in-out;
}
.p-header__tel-logo svg path.is-scrolled {
  fill: #333;
}
.p-header__tel {
  display: none;
  @include mq(md) {
    display: block;
    font-family: $second-font-family;
    font-size: rem(35);
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease-in-out;
  }
}
.p-header__tel.is-scrolled {
  color: #333;
}
.p-header__drawer {
  margin-left: auto;
}
