@use "global" as *;

.p-habits {
  padding-bottom: rem(56);
  background: #f9f0f0;
  @include mq(md) {
    padding-top: rem(114);
  }
}

.p-habits__title {
  text-align: center;
}

.p-habits__text-wrapper {
  margin-top: rem(36);
  @include mq(md) {
    margin-top: rem(48);
    text-align: center;
  }
}

.p-habits__text {
  color: #333;
  font-weight: 400;
  font-size: rem(15);
  line-height: 1.8;
  @include mq(md) {
    font-size: rem(16);
  }
}

.p-habits__lists {
  display: grid;
  margin-top: rem(32);
  gap: rem(28);
  grid-template-columns: repeat(2, 1fr);
  @include mq(md) {
    margin-top: rem(56);
    grid-template-columns: repeat(5, 1fr);
    gap: rem(64);
  }
}

.p-habits__list {
}

.p-habits__img {
  min-height: rem(105);
}
.p-habits__img--1 {
  max-width: rem(80);
  margin-left: auto;
  margin-right: auto;
}
.p-habits__img--4 {
  max-width: rem(68);
  margin-left: auto;
  margin-right: auto;
}
.p-habits__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-habits__detail {
}

.p-habits__detail-title {
  text-align: center;
  color: #333;
  font-weight: 600;
  font-family: $second-font-family;
  font-size: rem(18);
  @include mq(md) {
    font-size: rem(20);
  }
}

.p-habits__detail-text {
  color: #333;
  font-weight: 400;
  font-size: rem(15);
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(20);
    font-size: rem(16);
  }
}
