@use "global" as *;

.p-other {
  background: #f9f0f0;
  position: relative;
  overflow: clip;
  padding-top: rem(56);
  padding-bottom: rem(56);
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(120);
  }
}
.p-other::before {
  position: absolute;
  content: "";
  background: url(../images/common/other_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(180);
  height: auto;
  aspect-ratio: 360 / 360;
  object-fit: cover;
  top: rem(-80);
  left: rem(-80);
  @include mq(md) {
    width: rem(360);
    top: rem(-96);
    left: rem(-96);
  }
}
.p-other::after {
  position: absolute;
  content: "";
  background: url(../images/common/other_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(180);
  height: auto;
  aspect-ratio: 360 / 360;
  object-fit: cover;
  z-index: 1;
  right: rem(-90);
  top: rem(760);
  @include mq(md) {
    right: 0;
    top: initial;
    width: rem(360);
    bottom: rem(490);
  }
}
.p-other__content {
  position: relative;
  z-index: 2;
}

.p-other__title {
  text-align: center;
}

.p-other__table {
  margin-right: calc(50% - 50vw);
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(56);
    margin-right: initial;
  }
}
.p-other__attention {
  background: #fff;
  border: 1px solid #cc0000;
  border-radius: rem(10);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: rem(22);
  margin-top: rem(48);
  @include mq(md) {
    max-width: rem(1200);
    margin-top: rem(64);
    padding-top: rem(48);
    padding-left: rem(40);
    padding-right: rem(40);
    padding-bottom: rem(48);
  }
}

.p-other__attention-titleWrapper {
  position: relative;
  margin-top: rem(-36);
  @include mq(md) {
    margin-top: rem(-64);
  }
}
.p-other__attention-titleWrapper::before {
  position: absolute;
  content: "";
  background: #fff;
  height: 3px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  width: rem(280);
  @include mq(md) {
    width: rem(330);
  }
}
.p-other__attention-title {
  color: #cc0000;
  font-weight: 700;
  font-family: $second-font-family;
  position: relative;
  display: inline-block;
  z-index: 2;
  font-size: rem(18);
  @include mq(md) {
    font-size: rem(22);
  }
}

.p-other__box {
  margin-top: rem(28);
}

.p-other__box-text {
  color: #333;
  line-height: 2;
  font-size: rem(15);
  @include mq(md) {
    font-size: rem(16);
  }
}
.p-other__box-text + .p-other__box-text {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(32);
  }
}
.p-other__box-text span {
  font-weight: 700;
}

.p-other__box-text--red {
  color: #cc0000;
}
