@use "global" as *;

.p-plan {
  background: #f9f0f0;
  padding-top: rem(100);
  padding-bottom: rem(100);
  position: relative;
  overflow-x: clip;
}
.p-plan::before {
  position: absolute;
  content: "";
  background: url(../images/common/plan_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(448);
  height: auto;
  aspect-ratio: 448 / 242;
  object-fit: cover;
  top: 0;
  right: 0;
}

.p-plan__content {
  position: relative;
  z-index: 2;
}

.p-plan__title {
  text-align: center;
}

.p-plan__anchor {
  margin-top: rem(64);
  max-width: rem(786);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(44);
}

.p-plan__anchor-link {
  display: block;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
  position: relative;
}
.p-plan__anchor-link::before {
  position: absolute;
  content: "";
  background: url(../images/common/triangle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(30);
  height: auto;
  aspect-ratio: 30 / 30;
  object-fit: cover;
  bottom: 0;
  right: 0;
}

.p-plan__anchor-img {
}
.p-plan__anchor-img img {
  aspect-ratio: 370 / 250;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-plan__anchor-detail {
  background: #fff;
  padding: rem(27);
}

.p-plan__anchor-title {
  color: #841717;
  text-align: center;
  font-weight: 600;
  font-size: rem(25);
  font-family: $second-font-family;
}

.p-plan__anchor-price {
  color: #333;
  font-size: rem(30);
  font-family: $second-font-family;
  font-weight: 600;
  text-align: center;
  margin-top: rem(16);
}

.p-plan__anchor-price-unit {
  font-size: rem(20);
}

.p-plan__anchor-price-tax {
  font-size: rem(12);
}

.p-plan__anchor-text {
  margin-top: rem(20);
  font-size: rem(16);
  color: #333;
  line-height: 1.6;
}
.p-plan__block-wrapper {
  margin-top: rem(112);
}

.p-plan__block {
}
.p-plan__row {
  display: flex;
  gap: rem(48);
}
.p-plan__row--1 {
  position: relative;
  z-index: 2;
}
.p-plan__row--1::before {
  position: absolute;
  content: "";
  background: url(../images/common/plan_bg_normal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(362);
  height: auto;
  aspect-ratio: 362 / 362;
  object-fit: cover;
  top: rem(-96);
  left: rem(-200);
}
.p-plan__block + .p-plan__block {
  margin-top: rem(120);
}
.p-plan__img {
  max-width: rem(600);
  width: 100%;
}
.p-plan__img img {
  aspect-ratio: 600 / 400;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-plan__detail {
  flex: 1;
}

.p-plan__detail-title {
  color: #841717;
  font-size: rem(35);
  font-weight: 600;
  font-family: $second-font-family;
}

.p-plan__price {
  font-size: rem(40);
  font-family: $second-font-family;
  font-weight: 600;
  color: #333;
  margin-top: rem(24);
}

.p-plan__price-unit {
  font-size: rem(25);
}

.p-plan__price-tax {
  font-size: rem(14);
}

.p-plan__number {
  margin-top: rem(24);
  font-size: rem(16);
  color: #333;
  font-weight: 400;
}

.p-plan__text {
  color: #990000;
  font-size: rem(18);
  line-height: 1.8;
  margin-top: rem(21);
}

.p-plan__flow {
  margin-top: rem(44);
}
.p-plan__flow img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-plan__flow--1 {
  max-width: rem(300);
  width: 100%;
}
.p-plan__flow--2 {
  max-width: rem(420);
  width: 100%;
}
.p-plan__kind-wrapper {
  margin-top: rem(64);
}
.p-plan__kind-wrapper--1,
.p-plan__kind-wrapper--2 {
  position: relative;
  z-index: 10;
}
.p-plan__kind-wrapper--1::before {
  position: absolute;
  content: "";
  background: url(../images/common/plan_bg_normal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(362);
  height: auto;
  aspect-ratio: 362 / 362;
  object-fit: cover;
  top: rem(360);
  right: rem(-160);
  z-index: 1;
}
.p-plan__kind-wrapper--2::before {
  position: absolute;
  content: "";
  background: url(../images/common/plan_bg_normal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(362);
  height: auto;
  aspect-ratio: 362 / 362;
  object-fit: cover;
  top: rem(120);
  left: rem(-240);
  z-index: 1;
}
.p-plan__kind {
  position: relative;
  z-index: 2;
}
.p-plan__kind + .p-plan__kind {
  margin-top: rem(64);
}
.p-plan__kind-text {
  font-size: rem(25);
  color: #333;
  font-weight: 600;
  font-family: $second-font-family;
}

.p-plan__lists {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: rem(14);
  margin-top: rem(24);
}
.p-plan__list-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-plan__attention {
  font-size: rem(14);
  color: #333;
  margin-top: rem(24);
}
