@use "global" as *;

.p-qa {
  padding-top: rem(56);
  padding-bottom: rem(56);
  overflow: clip;
  position: relative;
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(120);
  }
}
.p-qa::before {
  position: absolute;
  content: "";
  background: url(../images/common/qa_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(180);
  height: auto;
  aspect-ratio: 360 / 360;
  object-fit: cover;
  top: 10%;
  top: rem(-90);
  left: rem(-90);
  @include mq(md) {
    width: rem(360);
    top: rem(-120);
    left: rem(-120);
  }
}
.p-qa::after {
  position: absolute;
  content: "";
  background: url(../images/common/qa_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(180);
  height: auto;
  aspect-ratio: 360 / 360;
  object-fit: cover;
  top: rem(760);
  right: rem(-90);
  z-index: -1;
  @include mq(md) {
    width: rem(360);
    top: rem(300);
    right: rem(-40);
  }
}
.p-qa__title {
  text-align: center;
}
.p-qa__block {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(30);
  position: relative;
  background: #fff;
  z-index: 5;
  @include mq(md) {
    max-width: rem(1000);
    margin-top: rem(40);
  }
}

.p-qa__summary {
  color: #fff;
  cursor: pointer;
  position: relative;
  background: #fff;
  z-index: 10;
  padding-left: rem(16);
  padding-right: rem(40);
  list-style: none;
  border-top: 1px solid #cccccc;
  display: flex;
  gap: rem(8);
  padding-top: rem(12);
  padding-bottom: rem(12);
  @include mq(md) {
    align-items: center;
    padding-top: rem(20);
    padding-bottom: rem(20);
  }
}
.p-qa__q {
  color: #990000;
  font-weight: 600;
  font-family: $second-font-family;
  font-size: rem(16);
  z-index: 10;
  margin-top: rem(-2);
  position: relative;
  @include mq(md) {
    margin-top: initial;
    font-size: rem(20);
  }
}
.p-qa__content--last {
  border-bottom: 1px solid #cccccc;
}
.p-qa__summary::before {
  content: "";
  display: inline-block;
  width: rem(20);
  height: 1px;
  background: #696969;
  transform: translateY(-50%) rotate(90deg);
  position: absolute;
  top: 50%;
  right: rem(16);
  transition: all 0.3s ease-out;
}
.p-qa__summary::after {
  content: "";
  display: inline-block;
  width: rem(20);
  height: 1px;
  background: #696969;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: rem(16);
  transition: all 0.3s ease-out;
}

.p-qa__summary.is-opened::before {
  transform: rotate(0deg) translateY(-50%);
  top: 50%;
}

.p-qa__ttl {
  font-weight: 600;
  font-family: $second-font-family;
  position: relative;
  color: #333;
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(20);
  }
}

.p-qa__ttl span {
  font-weight: 500;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(20);
  }
}

.p-qa__inner {
  overflow: hidden;
  padding-left: rem(36);
  padding-right: rem(36);
  z-index: 10;
  position: relative;
  @include mq(md) {
    padding-right: rem(36);
    padding-left: rem(44);
  }
}

.p-qa__wrap {
  padding-top: rem(18);
  padding-bottom: rem(40);
}
.p-qa__txt {
  font-weight: 400;
  position: relative;
  color: #333;
  line-height: calc(24 / 13);
  letter-spacing: 0.03em;
  position: relative;
  font-size: rem(15);
  @include mq(md) {
    font-size: rem(16);
  }
}
.p-qa__txt + .p-qa__txt {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(32);
  }
}
