@use "global" as *;

.p-temple {
  background-color: #f9f0f0;
  padding-top: rem(56);
  padding-bottom: rem(56);
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(120);
  }
}

.p-temple__title {
  text-align: center;
}

.p-temple__content {
  width: 100%;
  margin-inline: auto;
  @include mq(md) {
    max-width: rem(1000);
  }
}

.p-temple__row {
  margin-top: rem(32);
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    gap: rem(56);
    margin-top: rem(56);
  }
}

.p-temple__img {
  max-width: rem(480);
  width: 100%;
}
.p-temple__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-temple__text-wrapper {
  width: 100%;
  margin-top: rem(36);
  @include mq(md) {
    max-width: rem(474);
    flex: 1;
    margin-top: initial;
  }
}

.p-temple__bottomText-wrapper {
  margin-top: rem(32);
}

.p-temple__text {
  color: #333;
  line-height: 1.8;
  font-size: rem(15);
  @include mq(md) {
    font-size: rem(16);
  }
}
.p-temple__text + .p-temple__text {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(32);
  }
}
.p-temple__text-right {
  text-align: right;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(32);
  }
}
.p-temple__dl {
  background: #fff;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(56);
  }
}

.p-temple__dlRow {
  border-top: 1px solid #ccc;
  padding: rem(16);
  @include mq(md) {
    display: flex;
    padding-left: rem(26);
    padding-right: rem(26);
    padding-top: rem(24);
    padding-bottom: rem(24);
  }
}
.p-temple__dlRow:last-child {
  border-bottom: 1px solid #ccc;
}

.p-temple__dt {
  color: #333;
  font-weight: 700;
  font-size: rem(15);
  @include mq(md) {
    font-size: rem(16);
    width: rem(248);
  }
}

.p-temple__dd {
  color: #333;
  line-height: 1.8;
  font-size: rem(15);
  margin-top: rem(14);
  @include mq(md) {
    margin-top: initial;
    font-size: rem(16);
    width: calc(100% - rem(248));
  }
}
.p-temple__dd a {
  color: #0033cc;
}
.p-temple__dd-tel {
  color: #333 !important;
}
.p-temple__dd-text {
  position: relative;
  padding-left: rem(18);
}
.p-temple__dd-text::before {
  position: absolute;
  content: "";
  background: #333;
  width: rem(7);
  height: rem(7);
  border-radius: 9999px;
  top: rem(9);
  left: 0;
  @include mq(md) {
    transform: translateY(-50%);
    top: 50%;
  }
}

.p-temple__dd-tel {
}

.p-temple__dd-link {
}
